
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<div>
    <br />
    @Html.ActionLink("Index page", "Index", "Home")
    <br />
    @Html.ActionLink("About page", "About", "Home")
    <br />
    @Html.ActionLink("Contacts page", "Contacts", "Home")
    <br />
</div>